*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 2.4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    opacity: 1;
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    opacity: 1;
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  80% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #080a13ec;
  padding: 1.8rem; }

.heading-primary {
  color: #fdf9f9;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 20px; }
  .heading-primary--main {
    display: block;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 88px;
    /* font-family: 'Indie Flower', cursive; */
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 15px;
    font-weight: 2 00;
    letter-spacing: 9px;
    font-family: 'Indie Flower', cursive;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  color: #17181a9a;
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  -webkit-background-clip: text;
  text-transform: uppercase;
  color: transparent;
  background-image: linear-gradient(to right bottom, #333131, #080a13ec); }
  .heading-secondary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(8, 10, 19, 0.3); }

.heading-tertiary {
  font-size: 1.7rem;
  font-weight: 700;
  display: inline-block;
  -webkit-background-clip: text;
  text-transform: uppercase;
  color: transparent;
  background-image: linear-gradient(to right bottom, #333131, #080a13ec); }

.paragraph {
  font-size: 1.7rem;
  font-weight: 400; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 0.6rem;
  border: 0.3px solid #fdf9f9;
  transition: all 0.5s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn--green {
  background-color: #303e7e; }

.btn--white {
  background-color: #17181a9a;
  color: #fdf9f9; }
  .btn--white::after {
    background-color: #080a13ec;
    border: 0.5px solid #fdf9f9; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px #080a13ec;
  background-color: #080a13ec;
  color: #fdf9f9;
  border: 0.2px solid #fdf9f9; }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px #080a13ec; }

.btn::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.7rem;
  color: #080a13ec;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #080a13ec;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #080a13ec;
  color: #fdf9f9;
  box-shadow: 0 1rem 2rem #080a13ec;
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem #080a13ec;
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(8, 10, 19, 0.4);
    border-radius: 0.6rem;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;
    height: 24rem; }
    .composition__photo--p1 {
      top: 5rem;
      left: 15%; }
    .composition__photo--p2 {
      top: -4rem;
      left: 44%;
      height: 35rem; }
    .composition__photo--p3 {
      top: 12rem;
      left: 5%; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-5rem);
      box-shadow: 0 2.5rem 4rem rgba(8, 10, 19, 0.4);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.gallery__set {
  width: 100%;
  transition: all 0.2s;
  box-shadow: 0 1.5rem 4rem rgba(8, 10, 19, 0.4);
  border-radius: 0.6rem; }
  .gallery__set:hover {
    transform: scale(1.05) translateY(-5rem);
    box-shadow: 0 2.5rem 4rem rgba(8, 10, 19, 0.4);
    z-index: 20; }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(253, 249, 249, 0.9);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff5e00; }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(8, 10, 19, 0.8);
    border-bottom: 3px solid #00ff00; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( ((100% - 2 * 6rem) / 3) * 2 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( ((100% - 3 * 6rem) / 4) * 2 + 6rem); }
  .row .col-3-of-4 {
    width: calc( ((100% - 3 * 6rem) / 4) * 3 + 12rem); }

.header {
  width: 100%;
  height: 95vh;
  background-image: linear-gradient(to right bottom, #17181a9a, #080a13ec), url("../img/hero.jpg");
  background-size: cover;
  background-position: bottom;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0% 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header__logo {
    height: 69px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #eff1f1;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-gallery {
  background-color: #fdf9f9;
  padding: 25rem 0;
  margin-top: -20vh;
  transform: skewY(-7deg); }
  .section-gallery > * {
    transform: skewY(7deg); }

.section-contact {
  padding: 7rem 0;
  margin-top: -20vh;
  background-image: linear-gradient(to right bottom, #17181a9a, #17181a9a); }

.contact {
  margin-top: 20rem;
  background-image: linear-gradient(105deg, rgba(51, 49, 49, 0.9) 0%, rgba(253, 249, 249, 0.9) 50%, transparent 50%), url(../img/contact-us-1.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5 4rem rgba(8, 10, 19, 0.8);
  height: 50rem; }
  .contact__form {
    width: 50%;
    padding: 6rem; }
