body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-light;
  padding: 1.8rem;
}

.heading-primary {
  color: $color-light;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 20px;

  &--main {
    display: block;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 88px;
    /* font-family: 'Indie Flower', cursive; */
    animation: moveInLeft 1s ease-out;
  }

  &--sub {
    display: block;
    font-size: 15px;
    font-weight: 2 00;
    letter-spacing: 9px;
    font-family: 'Indie Flower', cursive;
    animation: moveInRight 1s ease-out;
  }
}
